<?xml version="1.0" encoding="utf-8"?>
<!-- Custom main manifest (Player Settings > Publishing Settings > Custom Main Manifest). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Required by Google Mobile Ads for the advertising ID on Android 13+. -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <application>
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector"
                  android:screenOrientation="portrait"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        <!-- Firebase Analytics starts denied; AnalyticsConsentBootStep applies the UMP result. -->
        <meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="false" />
        <meta-data android:name="google_analytics_default_allow_ad_storage" android:value="false" />
        <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="false" />
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false" />
    </application>
</manifest>
